# MongoDB Atlas Connection String
# Replace <username>, <password>, and <cluster-url> with your actual MongoDB Atlas credentials


# Server Port
PORT=5000

# Node Environment (development, production, test)
NODE_ENV=development 

MONGODB_URI=mongodb+srv://mizan_hamba:P0f4vff9uSwqdHQi@@cluster0.q5ve3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0